<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> JavaScript Tutorial </title>
	<script type="text/javascript">
		
		function sayHello() {
			alert("Hello Shaun!");
		}
		
		function sayGoodbye(message) {
			alert(message + " Shaun!");
		}
		
		function addNumbers(num1, num2) {
			var answer = num1 + num2;
			document.write("Total = " + answer + "<br/>");
		}
		
		addNumbers(371, 126);
	
	</script>
</head>
<body>
	<form>
<!-- 		<input type="button" value="Click me!" onclick="alert('You Clicked Me!');" />	 -->
			
<!-- 		<input type="button" value="Hover mouse over me!" onmouseover="alert('You Hovered over Me!');" />	 -->


	<input type="button" value="Click me to say hello!" onclick="sayHello();" />	
	
	<input type="button" value="Click me to say goodbye!" onclick="sayGoodbye('Goodbye');" />
	

	</form>
</body>
</html>


<!-- 1st SETUP WITH GIT ------------------------------------------------------------------------------------------------------------->