<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> JavaScript Tutorial </title>
	<script type="text/javascript">
		
		//Variables
		document.write("<h1>Variables</h1>")
	
		//variable
		var myVariable = 20;
		document.write("<h3>" + myVariable + "</h3>");
		
		//integer
		var userAge = 21;
		document.write("<h3>Integer: " + userAge + "</h3>");
		
		//float
		var bookPrice = 39.95;
		document.write("<h3>Float: £" + bookPrice + "</h3>");
		
		//string
		var username = "Shaun";
		document.write("<h3>String: " + username + "</h3>");
		
		//In order to tell javascript to ignore a character use \ infront of it. This is an escape character.
		//E.g.
		var stringWithQuotationMarks = "Shaun said: \"Hello World\".";
		document.write("<h3>Ignore Character using escape character  : " + stringWithQuotationMarks + "</h3>");
		
		//Operators
		document.write("<h1>Operators</h1>");
		
		var apples = 100;
		var pie = 13;
		var applePie;
		
		//Addition: +
		applePie = apples + pie;
		document.write("<h3>" + applePie + "</h3>");
		//applePie = 113
		
		//Subtraction: -
		applePie = apples - pie;
		document.write("<h3>" + applePie + "</h3>");
		//applePie = 100
		
		//Multiplication 
		applePie = apples * pie;
		document.write("<h3>" + applePie + "</h3>");
		//applePie = 1300
		
		//Division
		applePie = apples / pie;
		document.write("<h3>" + Math.round(applePie) + "</h3>");
		
		//Modulus
		applePie = apples % pie;
		document.write("<h3>" + applePie + "</h3>");
	
		var height = 10;
		var width = 2;
		
		height += width;
		
		document.write("<h3>" + height + "</h3>");
	</script>
</head>
<body>

</body>
</html>