<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> JavaScript Tutorial </title>
	<script type="text/javascript">
		var cars = new Array();
		var setOfCars = new Array("Ferari", "Porsche", "Jaguar", "Lamborghini", "Mcalaren");
		
		cars[0] = "ferari";
		cars[1] = "porsche";
		cars[2] = "mclaren";
		cars[3] = "mercedez";
		cars[4] = "bughatti";
		
 		document.write(cars.length);
		
		var day = "Friday";
		var age = 19;
		
		if(age != 18) {
			document.write("yay this is true");
		}
		
		switch(day) {
		case "Monday": document.write("Today is " + day);
			break;
		case "Tuesday": document.write("Today is " + day);
			break;
		case "Wednesday": document.write("Today is " + day);
			break;
		case "Thursday": document.write("Today is " + day);
			break;
		case "Friday": document.write("Today is " + day);
			break;
		case "Saturday": document.write("Today is " + day);
			break;
		case "Sunday": document.write("Today is " + day);
			break;
		default:
			document.write("Please specify a day");
		}		
		
		
		
		
		
	</script>
</head>
<body>

</body>
</html>